.bar-loader {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 20px;
  gap: 6px;
  background-color: transparent;
}

.bar {
  width: 6px;
  height: 12px;
  background-color: var(--surface);
  animation: bounce 1s ease-in-out infinite;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.bar2 {
  animation-delay: 0.2s;
  background-color: var(--accent);
}

.bar3 {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}
